<mat-tab-group>
  <mat-tab label="Flying">
    <mat-form-field>
      <mat-select [(value)]="selectedFlying" (selectionChange)="setMarkers(true)">
        <mat-option [value]="i" *ngFor="let whale of flyingWhales;let i = index">{{ whale.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Retired">
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selectedRetired" (selectionChange)="setMarkers(false)">
        <mat-option [value]="i" *ngFor="let whale of retiredWhales;let i = index">{{ whale.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
<div class="loading" *ngIf="!isInitialized">
  <p>One moment please...</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="map" #map></div>
