.mat-mdc-tab-body-content {
  display: flex;
  flex-direction: column;
}

.mat-mdc-tab-body-content .map {
  flex: 1;
  height: 100%;
  position: relative;
  z-index: 1;  /* Ensure the map is above other elements */
}

.mat-mdc-tab-body-content mat-select {
  position: absolute;
  top: 10px;  /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  z-index: 2;  /* Ensure the dropdown is above the map */
}


.map {
  height: 100vh;
}
