.container {
  width: 100%;
  height: 100%;
  .toolbar {
    display: flex;
    justify-content: space-between;
    .logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-left: 64px;
      background: url("../../../shared/src/lib/images/whaledrop-logo-white.png") no-repeat left center;
      background-size: contain;
      height: 48px;
    }
  }
}
