.full-width-table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.row:not(.expanded-row):active {
  background: whitesmoke;
}

.row td {
  border-bottom-width: 0;
}

.map {
  width: 100%;
  height: 0;
  padding-bottom: 35%;
}

