<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" multiTemplateDataRows>
    @for (column of displayedColumns.slice(0,4); track column) {
      <ng-container matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
    }

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions</th>
      <td mat-cell *matCellDef="let whale">
        <button mat-icon-button aria-label="expand whale" (click)="(expandedWhale = expandedWhale === whale ? null : whale); $event.stopPropagation()">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button aria-label="edit whale">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="delete whale">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let whale" [attr.colspan]="displayedColumns.length">
        <div [@detailExpand]="whale == expandedWhale ? 'expanded' : 'collapsed'">
          <div  class="details">
            <div> Source: {{whale.source.latitude}}, {{whale.source.longitude}},</div>
            <div> Destination: {{whale.destination.latitude}}, {{whale.destination.longitude}},</div>
            <div> Created: {{whale.timestamps.createdAt | date: 'medium' }} </div>
            <div> Updated: {{whale.timestamps.updatedAt | date: 'medium' }} </div>
            <div>  {{whale.timestamps.deletedAt > 0 ? 'Inactive' : 'Active'}} </div>
          </div>
        </div>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedWhale === row"
        (click)="expandedWhale = expandedWhale === row ? null : row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
